* {
    font-family: Verdana, Geneva, sans-serif;
}

p {
    background-color: rgb(233, 142, 165);
}

#oneid {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#another {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}