.para,
.small-para {
    color: hsl(0, 100%, 50%);
}

.para.small-para {
    font-size: 14px;
}

.para {
    font-size: 22px;
}

.button.confirm {
    background: green;
    color: white;
    font-weight: bold;
}

.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.text.child {
    color: red;
    font-size: 14px;
}

div.text {
    color: green;
    font-size: 22px;
}