    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #container {
        background: white;
        width: 720px;
        margin: 0 auto;
    }
    
    #marca {
        height: 100px;
        background: #9E9E9E;
        text-align: center;
        line-height: 100px;
    }
    
    #conteudo {
        width: 520px;
        float: right;
    }
    
    #navegacao {
        width: 180px;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #d1d1d1;
    }
    
    #navegacao ul {
        list-style: none;
    }
    
    #navegacao li a {
        text-decoration: none;
    }
    
    #rodape {
        clear: both;
        background: #c4c4c4;
        padding: 5px;
    }
    
    #conteudo-principal {
        width: 320px;
        float: left;
    }
    
    #conteudo-secundario {
        width: 180px;
        float: right;
        background: #d1d1d1;
    }
    
    #conteudo-secundario h1,
    #conteudo-secundario h2,
    #conteudo-secundario h3,
    #conteudo-secundario p {
        padding-left: 20px;
        padding-right: 20px;
    }