/*.conteudo {
            border: 1px solid red;
            padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

padding: 20px 15px 10px 5px;
margin: 20px;
width: 150px;

}*/

#news {
    background: #f9f9f9;
    border: 1px solid;
    padding: 10px;
}

h2 {
    margin: 0px;
}