@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 10px;
}

body {
    width: 100%;
    height: auto;
}

main {
    text-align: center;
}

h2 {
    text-align: left;
}

img {
    width: 45%;
}

.description {
    text-align: justify;
}

.recipe p {
    font-weight: bold;
}

ol,
ul {
    text-align: left;
}

li {
    padding: 5px;
    margin: 0;
    font
}